# Entornos virtuales (La "burbuja" de librerías)
venv/
env/
ENV/

# Archivos de Python (Caché y archivos compilados)
__pycache__/
*.py[cod]
*$py.class

# Base de datos (Muy importante para no pisar los datos de tus compañeros)
*.sqlite3

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores (VS Code, PyCharm)
.vscode/
.idea/